*{
  padding: 0;
  margin: 0;
}
.Card{
  background-color:whitesmoke;
  padding: 40px;
  border-radius: 3;
  width:320px;
  height:150px;
}

button{
  padding: 10px;
  background-color: rgb(140, 117, 225);
}

.container{
  background-color: rgb(208, 178, 236);
  padding: 20px;
  height: 100vh;
  gap: 10px;
  display: grid;
  grid-column: inherit;
  justify-content: center;
  align-items: center;
}

.obj{
  padding: 20px;
  height: 100vh;
  gap: 10px;
  display: grid;
  grid-column: inherit;
  justify-content: center;
  align-items: center;
}
.obj .Card{
  background-color: yellowgreen;
}